<%= javascript_include_tag "encryption", "jquery", "jquerydialog" %>
<%= stylesheet_link_tag "jquerydialogs"%>

<script type="text/javascript">
  
	function addUser()
	{
		// check length
		if(1 > $('#user_password').attr('value').length)
		{
			alert("The password can't be empty.");
		}
		else
		{
			// check password confirmation
			if($('#user_password').attr('value') != $('#confirm_user_password').attr('value'))
			{
				alert("The passwords are not equal.");
			}
			else
			{
				sessionStorage.setItem("userPassword", $('#user_password').attr('value'));

				$('#user_encrypted_username').attr('value', AesCtr.encrypt($('#user_username').attr('value'), $('#user_password').attr('value'), 256));
	
				$('#mask, .window').hide();
				$('#new_user').submit();
			}
		}	
		return true;
	}

</script>

<h1>New user</h1>

<% form_for(@user) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :username %><br />
		<%= f.text_field :username, :id => 'user_username', :size =>20, :maxlength => 20 %>
		<%= f.hidden_field :encrypted_username, :id => 'user_encrypted_username' %>
	</p>
	<p>
		<%= f.label :firstname%><br />
		<%= f.text_field :firstname, :size =>20, :maxlength => 45 %>
	</p>
	<p>
		<%= f.label :lastname%><br />
		<%= f.text_field :lastname, :size =>20, :maxlength => 45 %>
	</p>
	<p>
		<%= submit_tag "Create", :value =>'Create', :id => 'dialog', :name => 'modal' %>
	</p>
  
	<!-- #dialog is the id of a DIV defined in the code below -->  
	<div id="boxes">  
		<!-- #customize your modal window here -->  
		<div id="dialog" class="window">  
			<b>Enter encryption key</b> |   
			
			<!-- close button is defined as close class -->  		
			<p>Password: <%= password_field 'password', nil , :id => 'user_password', :size =>20, :maxlength => 20 %></p>
			<p>Confirm:  <%= password_field 'confirm_password', nil , :id => 'confirm_user_password', :size =>20, :maxlength => 20 %></p>
			<input type="button" class="accept" value="Accept" onclick="addUser();"/>
			<input type="button" class="close" value="Cancel"/>  
			
		</div>  	
		
		<!-- Do not remove div#mask, because you'll need it to fill the whole screen -->    
		<div id="mask"></div>  
	</div>
<% end %>

<%= link_to 'Back', user_path %>