<%= javascript_include_tag "encryption", "jquery" %>

<script type="text/javascript">
  
	function encryptAddress()
	{
		// check length
		if((1 > $('#input_encrypted_password').attr('value').length) || (1 > $('#input_address').attr('value').length))
		{
			alert("The address and password can't be empty.");
		}
		else
		{
			// check email format
			if(false)
			{
				alert("The email address is not valid.");
			}
			else
			{
				var userPassword = sessionStorage.getItem("userPassword");

				$('#address').attr('value', AesCtr.encrypt($('#input_address').attr('value'), userPassword, 256));

				$('#encrypted_password').attr('value', AesCtr.encrypt($('#input_encrypted_password').attr('value'), userPassword, 256));
	
				$('#new_address').submit();
			}
		}	
		return true;
	}

</script>
<h1>New address</h1>

<% form_for(@address) do |f| %>
  	<%= f.error_messages %>
	<p>
		<%= f.hidden_field :users_id, :value => session[:user][:id] %>
	</p>	
	<p>
		<%= f.label :address%><br />
		<%= text_field 'input_address', nil , :size =>20, :maxlength => 45, :id => 'input_address'%>
		<%= f.hidden_field :address, :size =>20, :maxlength => 45, :id => 'address' %>
	</p>
	<p>
		<%= f.label 'Password: '%><br />
		<%= password_field 'input_encrypted_password', nil , :size =>20, :maxlength => 45, :id => 'input_encrypted_password'%>
		<%= f.hidden_field :encrypted_password, :size =>20, :maxlength => 45, :id => 'encrypted_password' %>
	</p>
	<p>
		<%= submit_tag "Create", :onclick => 'encryptAddress();' %>
	</p>
<% end %>

<%= link_to 'Back', addresses_path %>